/* Stylesheet for TTSF website */
body, html {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;

    a {
        text-decoration: none;
        color: inherit;
    }
}
header{
    text-align: center;
    color: rgb(224, 239, 243);
    background-color: #1b2554;
    padding: 0%;
    margin: 0%;

    div {
        padding: 10px 100px;
        color: black;
        background-color: yellow;
        display: flex;
        justify-content: space-between;
        url{
            font-style:italic;
        }
        button{
            all: unset;
        }
        @media (max-width: 600px){
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0% 10%;
        .logo {
            height: 15%;
            width: 15%;
        }
    }
     ul{
        list-style-type: none;
        padding: 3%;
        margin: 0%;
    }
    nav ul li{
        display: inline;
    }
    nav ul li a {
        color: rgb(224, 239, 243);
        padding: 10px 40px;
        display: inline-block;
        text-decoration: none;
    }
    nav ul li + li::before {
        content: '|';
        margin: 0 10px;
        color: #fff;
    }
    nav ul li a:hover{
        transition: 1s;
        transform: scale(1.4);
        text-decoration: bold;
    }
    button{
        border-style: none;
        width: 145px;
        height: 35px;
        text-align: center;
        background-color: #7195d79d;
        color: beige;
        border-radius: 5px;
    }
    button:hover{
        background-color: beige;
        color: #7195d79d;
        transition: 1s;
        transform: scale(1.2);
    }
    dialog{
        padding: 0;
        .realPopUp{
            padding: 30px;
            display: flex;
            flex-direction: column;
            background-color: #4e7fdb9d;
            color:beige;
            line-height: 1.7;
            h4{
                font-size: 20px;
            }
        }
    }
    @media (max-width: 600px){
        flex-direction: column;
        nav{
            display: flex;
            font-size: 10px;
            flex-direction: column;
            .logo {
                height: auto;
                width: 70%;
            }
            padding: 20px 0px;
        }
        nav ul li{
            display: flex;
            padding: 0;
            margin: 0;
            justify-content: center;
            flex-direction: row;
        }
        nav ul li + li::before {
            content: ' ';
            margin: 0px;
        }
    }
}

footer{
    background-color: #1b2554;
    color: rgb(224, 239, 243);
    text-align: center;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 600px) {
        flex-direction: column;
    }
    
    img{
        height: auto;
        width: 160px;
    }
    ul{
        line-height: 1.7;
        list-style-type: none;
        display: flex;
        text-align: left;
        flex-direction: column;
        .heading{
            font-weight: bold;
        }
    }
}

main{
    .titleCard {
        margin: 0;
        padding: 0;
        background-image: "TTSF hero.jpg";
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        .titleCardWords{
            background-color: rgba(0, 0, 0, 0.5);
            text-align: center;
            h2{
                font-size: 100px;
            }
            line-height: 8.5;
            color:white;
        }
    }
    @media (max-width:600px){
        .titleCard{
            display: none;
        }
    }
    .theBoxes{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-image: "TTSF hero.jpg";
        @media (max-width: 600px){
            flex-direction: column;
        }
        button{
            background-color:#93acd99d ;
        }
        .infoBox{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: wrap;
            background-color: rgba(77, 127, 219, 0.95);
            color: beige;
            padding: 40px;
            margin: 20px;
            border-radius: 10px;
            .content{
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 0px 20px;
            }
    }
    }
    .titleCard {
        border: 1px solid rgba(255, 0, 0, 0);
    }
    
    .titleCardWords {
        border: 1px solid rgba(0, 0, 255, 0);
    }
    button{
        border-style: none;
        width: 145px;
        height: 35px;
        text-align: center;
        background-color: #4e7fdb9d;
        color: beige;
        border-radius: 5px;
    }
    button:hover{
        background-color: beige;
        color: #4e7fdb9d;
        transition: 1s;
        transform: scale(1.2);
    }
    .statement{
        margin: 50px;
        font-size: 2em;
        line-height: 1.7;
        h3{
            font-weight: bold;
            text-decoration: underline;
        }
        @media (max-width: 600px) {
            margin: 40px;
            p{
                font-size: 20px;
                text-align: justify;
            }
        }
    }
    .people{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        img{
            max-width: 210px;
            height: auto;
            margin: 20px;
        }
        @media (max-width: 600px) {
            flex-direction: column;
            .person{
                margin: 30px 0;
            }
        }
        .person{
            margin: 30px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0px 20px;
            img{
                border-radius: 100px;
            }
        }
    }
}
